canvas {width:100%; height:100%}
#wrapper {
  position: absolute;
  top: 40px;
  left: 5%;
  width: 34%;
  height: 200px;
  outline: #fff solid 2px;
}

#bumpTitle {
  background-color: #000;
  color: #fff;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 15%;
  text-align: center;
  width: 70%;
  height: 28px;
  border-radius: 8px 8px 0px 0px;
}

.btn {
  color: #fff;
  background-color: #aaa;
  position: relative;
  width: 15%;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  z-index: 2;
  cursor: pointer
}

.btn:hover {
  background-color: #ccc;
  transition: 0.3s;
}

.btn:active {
  background-color: #fff;
}

.info {
  color: #fff;
  position: absolute;
  background-color: black;
  font-size: 14px;
  top: 55px;
  left: 36%;
  line-height: 20px;
  cursor: default;
}

#bump {
  width: 30%;
  height: 20px;
  border-radius: 4px;
  text-align: center;
}

#btn_left {
  position: absolute;
  top: 55px;
  left: 15%;
}

#btn_right {
  position: absolute;
  top: 55px;
  right: 15%;
}

#btn_bg{
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
}

#btn_earth {
  position: absolute;
  width: 30%;
  top: 70%;
  left: 15%;
  background-color: #4b5;
}

#btn_mars {
  position: absolute;
  width: 30%;
  top: 70%;
  right: 15%;
  background-color: #d75;
}

body {
    width : 500px;
}

svg {
  position: absolute;
  top: 75%;
  right: 0%;
}