canvas {width:100%; height:100%}
#wrapper {
  position: absolute;
  top: 40px;
  left: 100px;
  width: 200px;
  height: 400px;
  outline: #fff solid 2px;
}

#bumpTitle {
  background-color: #000;
  color: #fff;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 15%;
  text-align: center;
  width: 70%;
  height: 28px;
  border-radius: 8px 8px 0px 0px;
}

.btn {
  color: #fff;
  background-color: #aaa;
  position: relative;
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  z-index: 2;
  cursor: pointer
}

.btn:hover {
  background-color: #ccc;
  transition: 0.3s;
}

.btn:active {
  background-color: #fff;
}

.info {
  color: #fff;
  position: absolute;
  background-color: black;
  font-size: 14px;
  top: 55px;
  left: 85px;
  line-height: 20px;
  cursor: default;
}

#bump {
  width: 30px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
}

#btn_left {
  position: absolute;
  top: 55px;
  left: 30px;
}

#btn_right {
  position: absolute;
  top: 55px;
  left: 130px;
}

#btn_bg{
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 0;
}